doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title SuperDraft | #{drafts[0].leagueName} | #{drafts[0].draftYear} | #{currentUser}
		link(rel='stylesheet', href='/stylesheets/draftStyle.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
		script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js')

		link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

	body
		div#dialogues(style="display: none")
			div#dialogDrafted(title="Player Already Drafted")
				p Please select another player!
			div#dialogFull(title="Bid Error")
				p Your team is already full!
			div#dialogMax(title="Bid Error")
				p That bid is above your maximum bid!
			div#dialogWait(title="Bid Error")
				p Please wait until the next round of bidding!
			div#dialogOTB(title="Bid Error")
				p The starting bid is greated than your Max Bid!
			div#dialogRoster(title="Bid Error")
				p You have no available roster spots for that player!

		.leftColumn

			.otbTextHolder
				h2#otbName.otbText
				h4#otbTeamPos.otbText
			.otbImgHolder
				.otbImgHolderLeft
					img#otbPic
				.otbImgHolderRight
					h1#currentBid
			.otbBiddingHolder
				button#placeBid(onclick="bid()")

			.clockPane
				#clock
					div#demo


			.budgetsPane
				h3#currentUser(style="display: none") #{currentUser}
				h5#draftID(style="display: none") #{drafts[0]._id}
				table#budgetsTable
					tr.header
						th.budgetName Team
						th Max
						th $
						th Roster
						each coach in coaches
								tr
									td.budgetName= coach.teamName2
									td= "$" + (coach.budget - (drafts[0].rosterSize -1 - coach.numOfPlayers))
									td= "$" + coach.budget
									td= coach.numOfPlayers + "/" + drafts[0].rosterSize



		.middleColumn
			.selectedPlayerPane
				.sppTop
					.sppTopLeft
						img#selectedPic(src="./images/TBA.png", alt='On The Block', title='On The Block')
					.sppTopRight
						.sppTopRightTop
							h1#selectedName -
						.sppTopRightMid
							h3#selectedPosition -
						.sppTopRightBottom
							.sppTopRightBottomLeft
								button#addToQueue(disabled=true, onclick='addToBlock(selectedPlayerName.innerHTML, selectedPlayerPosition.innerHTML, sppAve.innerHTML)') ADD TO BLOCK
							.sppTopRightBottomRight
								input#startValue(type='number', name='startValue', value=1, min=1)


				.sppBottom

					table#sppTable
						tr
							th Rank
							th Ave
							th Points
							th StdDev
							th Games
							th Age
							th Price16
							th Price15
							th Price14
						tr
							td#rank -
							td#ave -
							td#points -
							td#stdDev -
							td#games -
							td#age -
							td#price16 -
							td#price15 -
							td#price14 -


			.playerFilterPane
				.pfpLeft
					select#positionSearch(onchange='updateSearch()')
						option(value='All') All Pos
						option(value='DEF') DEF
						option(value='MID') MID
						option(value='RUC') RUC
						option(value='FWD') FWD
				.pfpInnerLeft
					input#playerSearch(type='text', onkeyup='updateSearch()', placeholder='Search for players...')

				.pfpInnerRight
					.pfpInnerRightLeft
						input#watchlistSearch(type='checkbox', onchange='updateSearch()')
					.pfpInnerRightRight
						h3 Watchlist

				.pfpRight
					.pfpRightLeft
						input#hideDrafted(type='checkbox', onchange='updateSearch()')
					.pfpRightRight
						h3 Hide Drafted


			.playerSearchPane
				table#searchTable.display(cellspacing='0', width='100%')
					thead
						tr
							th Rank
							th Name
							th Pos
							th Ave
							th Team
							th Price16
							th Watchlist

						tbody
							each result in players
								tr
									td= result.rank
									td.name= result.name
									td= result.position
									td= result.ave16
									td= result.team
									td= result.draftPrice16
									td
										input#watchlistCheckbox(type='checkbox')

		.rightColumn

			.myRosterPane
				.myRosterFilterPane
					select#myRosterFilter(onchange="filterRosterPane()")

				.myRosterTablePane
					table#myRosterTable
						thead
							tr
								th Pos
								th Player
								th Ave
								th $

							tbody
								- for(var i=0; i < drafts[0].numOfDef; i++){
									tr(style='border-left: RGB(255,105,180) 4px solid')
										td.emptyDef="DEF"
										td=""
										td=""
										td=""
								- }

								- for(var i=0; i < drafts[0].numOfMid; i++){
									tr(style='border-left: RGB(30,144,255) 4px solid')
										td.emptyMid="MID"
										td=""
										td=""
										td=""
								- }

								- for(var i=0; i < drafts[0].numOfRuc; i++){
									tr(style='border-left: RGB(250,159,6) 4px solid')
										td.emptyRuc="RUC"
										td=""
										td=""
										td=""
								- }

								- for(var i=0; i < drafts[0].numOfFwd; i++){
									tr(style='border-left: RGB(22,193,114) 4px solid')
										td.emptyFwd="FWD"
										td=""
										td=""
										td=""
								- }

								- for(var i=0; i < drafts[0].numOfBen; i++){
									tr(style='border-left: RGB(169,169,169) 4px solid')
										td.emptyBen="BEN"
										td=""
										td=""
										td=""
								- }


			.myTeamPane

				table#myTeamTable.display(cellspacing='0', width='100%')
					thead
						tr
							th#myTeamOrderSort #
							th#myTeamPlayerSort Player
							th Pos
							th Team
							th $

			


		script(src='/js/playerData.js')
		script(src='/js/playerLookup.js')

	footer