doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title SuperDraft
		link(rel='stylesheet', href='/stylesheets/draftStyle.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
		script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js')

		link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

	body
		div#dialogues
			div#dialogDrafted(title="Player Already Drafted")
				p Please select another player!
			div#dialogFull(title="Bid Error")
				p Your team is already full!
			div#dialogMax(title="Bid Error")
				p That bid is above your maximum bid!
			div#dialogWait(title="Bid Error")
				p Please wait until the next round of bidding!
			div#dialogOTB(title="Bid Error")
				p The starting bid is greated than your Max Bid!

		.container

			.otbPane
				.otbTextHolder
					h2#otbName.otbText
					h4#otbTeamPos.otbText
				.otbImgHolder
					img#otbPic
				.otbCurrentBidHolder
					h1#currentBid
				div.otbBiddingHolder
					button#placeBid(onclick="bid()")

				.clockPane
					#clock
						div#demo


			.selectedPlayerPane
				#topSPP
					img#selectedPic(src="./images/TBA.png", alt='On The Block', title='On The Block')
					h1#selectedName -
					h3#selectedPosition -
					button#addToQueue(onclick='addToBlock()') ADD TO BLOCK
					input#startValue(type='number', name='startValue', value=1, min=1)
					.sppTimer
						h1#sppClock

					table
						tr
							th Rank
							th Ave
							th Points
							th StdDev
							th Games
							th Age
							th Price16
							th Price15
							th Price14
						tr
							td#rank -
							td#ave -
							td#points -
							td#stdDev -
							td#games -
							td#age -
							td#price16 -
							td#price15 -
							td#price14 -

			.myTeamPane
				h3 Drafted Players
				select#myTeamFilter(onchange="updateMyTeam()")
					option(value="All") All
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -
					option(value='-') -

				select#myTeamPosFilter(onchange="updateMyTeam()")
					option(value="All") All
					option(value="DEF") DEF
					option(value="MID") MID
					option(value="FWD") FWD
					option(value="RUC") RUC

				table#myTeamTable
					thead
						tr
							th#myTeamOrderSort #
							th#myTeamPlayerSort Player
							th Pos
							th Team
							th $
						tbody
							each result, i in results
									tr
										td= results.length - i
										td= result.name
										td= result.position
										td= result.team
										td= "$" + result.price


			.budgetsPane
				h3#currentUser #{currentUser}
				h5#draftID #{drafts[0]._id}
				table#budgetsTable
					tr
						th.budgetName Team
						th Max
						th $
						th Roster
						each coach in coaches
								tr
									td.budgetName= coach.teamName2
									td= "$" + (coach.budget - (21 - coach.numOfPlayers))
									td= "$" + coach.budget
									td= coach.numOfPlayers + "/22"

			.playerSearchPane
				#filter
					select#positionSearch(onchange='updateSearch()')
						option(value='All') All
						option(value='DEF') DEF
						option(value='MID') MID
						option(value='RUC') RUC
						option(value='FWD') FWD
					input#playerSearch(type='text', onkeyup='updateSearch()', placeholder='Search for players...')
					label
						input#watchlistSearch(type='checkbox', onchange='updateSearch()')
						|  Watchlist
						input#hideDrafted(type='checkbox', onchange='updateSearch()')
						|  Hide Drafted


				table#searchTable.display(cellspacing='0', width='100%')
					thead
						tr
							th Rank
							th Name
							th Pos
							th Ave
							th Team
							th Price16
							th Watchlist

						tbody
							each result in players
								tr
									td= result.rank
									td.name= result.name
									td= result.position
									td= result.ave16
									td= result.team
									td= result.draftPrice16
									td
										input#watchlistCheckbox(type='checkbox')
			
			
			.bottomPane
				button#next Next


		script(src='/js/playerData.js')
		script(src='/js/playerLookup.js')

	footer