extends layout

block content

	.main.container
		.row
			.col-md-8.col-md-offset-2
				h1.display-4.m-b-2 My Drafts
					table.table
						tr
							th League Name
							th Draft Year
							th # Of Coaches
							th Draft Code
							th Admin
							th
							each result in results
								tr
									td= result.leagueName
									td= result.draftYear
									td= result.numOfCoaches
									td#draftID= result._id
									td= result.admin
									td#joinButton.btn.btn-info-outline.btn-lg.m-t-1 Join

	script.
		var join = document.getElementById("joinButton");
		var draftID = document.getElementById("draftID").innerHTML;
		join.addEventListener("click", function(){
			window.open("/draft?draft=" + draftID)
		});